# CMake
CMakeLists.txt.user
build/
bin/

# Cocos2d-x engine (large, should use submodule or download separately)
cocos2d/

# Android
proj.android/assets
proj.android/libs/*
proj.android/obj
proj.android/.idea/
proj.android/braintest.iml
proj.android/gen
proj.android-studio/.gradle
proj.android-studio/.idea
proj.android-studio/local.properties
proj.android-studio/app/build
*.apk
*.ap_
*.dex

# iOS/Mac
proj.ios_mac/DerivedData/
proj.ios_mac/build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate

# Windows
proj.win32/Debug/
proj.win32/Release/
proj.win32/.vs/
proj.win10/Debug/
proj.win10/Release/
proj.win10/.vs/
*.suo
*.user
*.sdf
*.opensdf
*.VC.db
*.VC.opendb

# General
*.o
*.obj
*.log
*.pyc
.DS_Store
Thumbs.db
